# Ignorovat celou datovou složku (Datové jezero zůstane jen na Ghetto-Serveru)
data/

# Ignorovat všechny logy (bot_denik.log atd.)
*.log

# Pro jistotu ignorovat jakékoliv CSV, kdyby se vytvořilo mimo složku
*.csv

# Ignorovat skryté složky Pythonu a záchranný kill switch
__pycache__/
STOP.txt

.env